body {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

pre {
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
}

button {
  display: inline-block;
  border: none;
  padding: 12px 10px;
  margin: 0;
  font-size: 14px;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.error-box {
  border: 1px solid red;
  background-color: rgba(255, 192, 203, 0.25);
  padding: 12px;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #00397ee3;
  outline-offset: -1px;
}

button:active {
  transform: scale(0.99);
}
